{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./src",
          "@components": "./src/components",
          "@container": "./src/container",
          "@helpers": "./src/helpers",
          "@store": "./src/store",
          "@server": "./server"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ]
  ]
}
